/* Estilos globales para restablecer márgenes y rellenos */
* {
  margin: 0%;
  padding: 0%;
}
/* Estilos para el video de fondo */
.video {
  width: 100%;
  height: 95vh;
  position: relative;
  bottom: 7.4em;
  /* Ajustar posición vertical */
  z-index: -3;
  object-fit: cover;
}

/* Estilos para el texto de introducción */
.Intro {
  position: absolute;
  top: 45%;
  /* Posición vertical centrada */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* Estilos para el título */
.title {
  font-size: 3em;
}

/* Transición de opacidad para animación */
.title span {
  transition: opacity 0.5s ease-in-out;
}

/* Animación de desaparición */
.fadeOutDown {
  opacity: 0;
  transform: translateY(20px);
  /* Movimiento hacia abajo */
}

/* Contenedor del menú de navegación */
.div-nav {
  display: flex;
  justify-content: center;
}

/* Estilos para la sección 1 */
.section1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Imagen de fondo con ajustes de posición */
.fondo_video1 {
  width: 100%;
  position: relative;
  overflow-x: 6;
  bottom: 17em;
  /* Ajustar posición vertical */
}

/* Estilos para el logotipo */
.logo {
  width: 5em;
  height: 3.5em;
  margin: 0%;
  padding: 2%;
  margin-left: 5%;
}

/* Estilos para el botón */
.boton {
  width: 20em;
  height: 3.5em;
  margin: 0%;
  padding: 2%;
  margin-left: 50%;
  display: flex;
  align-items: center;
}

/* Estilos para la imagen del botón */
.boton1 {
  width: 5em;
  height: 5em;
  margin: 0%;
  padding: 0%;
}

/* Eliminar márgenes y rellenos de anclas */
a {
  margin: 0% !important;
  padding: 0% !important;
}

/* Estilos para el segundo logotipo */
.logo2 {
  width: 10em;
  height: 10;
}

/* Contenedor del segundo logotipo */
.div-logo2 {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 33em;
  /* Ajustar posición vertical */
  z-index: 5;
}

/* Consultas de medios para ajustar estilos en diferentes tamaños de pantalla */
@media screen and (max-width: 950px) and (min-width: 780px) {

  /* Estilos para pantalla entre 950px y 780px */
  .fondo_video1 {
    position: relative;
    bottom: 15em;
    /* Ajustar posición vertical */
  }

  /* Estilos para el segundo logotipo en tamaño de pantalla específico */
  .logo2 {
    width: 10em;
    height: 10;
  }

  /* Estilos para el contenedor del segundo logotipo en tamaño de pantalla específico */
  .div-logo2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 23.5em;
    z-index: 5;
  }
}


.ani>div>a>img {
  view-timeline-name: --div;
  view-timeline-axis: block;
  animation-timeline: --div;
  animation-name: show;
  animation-range: entry 25%;
  animation-fill-mode: both;
}

footer {
  view-timeline-name: --div;
  view-timeline-axis: block;
  animation-timeline: --div;
  animation-name: show;
  animation-range: entry 25%;
  animation-fill-mode: both;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}






footer {
  background-color: #222;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

.footer-container {
  display: grid;
  align-items: center;
  max-width: 100%;
  margin: 1em;
}



.footer_div {
  display: grid;
  grid-template-columns: repeat(4, minmax(10em, 1fr));
  grid-gap: 1em;
  width: 100%;
  height: 20em;
}

.footer_div>div {
  width: 20em;
  height: 20em;
}

.footer_div>div>p {
  font-size: 2em;
}

.footer_div>div>ul>li {
  font-size: 1.5em;
  color: #908f8f;
  margin: .5em;
  text-align: left;
  list-style: none;
}

.footer_div>div>ul>li>a>img {
  width: 2.5em;
  height: 2.5em;
  margin: 0%;
  padding: 0%;
}

.footer_div>div>ul>li>a {
  list-style: none;
  text-decoration: initial;
  color: #908f8f;
}

.store {
  list-style: none;

}

.store>a>img {
  width: 12em;
}



.footer_div>div>ul>li>a:hover {
  animation: shadow-drop-center 0.4s linear both
}
.footer_div>div>ul>li>a>img:hover {
  animation: shadow-drop-center 0.4s linear both
}
.store>a>img:hover {
  animation: shadow-drop-center 0.4s linear both
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent
  }

  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .55)
  }
}




/* Otras consultas de medios para tamaños de pantalla específicos... */


@media screen and (max-width: 950px) and (min-width: 780px) {
  .fondo_video1 {
    position: relative;
    bottom: 15em;
  }

  .logo2 {
    width: 10em;
    height: 10;
  }

  .div-logo2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 23.5em;
    z-index: 5;
  }
}


.Textlofo {
  display: grid;
  margin: 0%;
  padding: 0%;
}

.textBoton {
  margin-right: 1em;
  color: aliceblue;
  font-size: 1.5em;
}

.rotate-center :hover {
  animation: rotate-center 0.4s
}

@keyframes rotate-center {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}


@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }

  50% {
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

.modulos {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, minmax(10em, 1fr));
  grid-gap: 1em;
  position: relative;
  bottom: 25em;
}

.modulos>div {
  width: 20em;
  height: 20em;
}

.modulos>div>a>img {
  width: 100%;
  height: 100%;
  background-color: rgb(31, 31, 31);
  border: 2px solid #000;
}

.submodulo {
  position: relative;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.submodulo>div>a>img {
  width: 10;
  height: 10em;
  padding: 0em;

  background-color: rgb(31, 31, 31);
  border: 2px solid #000;

}

.submodulo>div {
  margin: 0em;
  padding: 0em;
  height: 10em;
  width: 19em;
}





/* Keyframes para la animación scale-up-center */
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* Establecer una regla inicial para las imágenes sin hover */
.animateDiv>div {
  transition: transform 0.4s;
  /* Agrega una transición suave */
}

/* Aplicar animación solo cuando el cursor está sobre las imágenes */
.animateDiv>div:hover {
  animation: scale-up-center 2s forwards;
  /* La animación avanza hasta el estado final y se mantiene */
  transform: scale(1.1);
  /* Cambia el tamaño cuando el cursor está sobre la imagen */
}

/* Detener la animación cuando el cursor ya no está sobre la imagen */
.animateDiv>div:not(:hover) {
  animation: none;
  /* Detiene la animación cuando el cursor se quita de la imagen */
  transform: scale(1);
  /* Vuelve al tamaño original cuando el cursor no está sobre la imagen */
}


























@media screen and (max-width: 780px) and (min-width: 540px) {
  .fondo_video1 {
    position: relative;
    bottom: 13em;
  }

  .logo2 {
    width: 8em;
    height: 8;
  }

  .div-logo2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20em;
    z-index: 5;
  }

}

@media screen and (max-width: 540px) and (min-width: 362px) {
  .fondo_video1 {
    position: relative;
    bottom: 11em;
  }

  .logo2 {
    width: 6em;
    height: 6;
  }

  .div-logo2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 15em;
    z-index: 5;
  }


}

@media screen and (max-width: 361px) and (min-width: 240px) {
  .fondo_video1 {
    position: relative;
    bottom: 10em;
  }

  .logo2 {
    width: 6em;
    height: 6;
  }

  .div-logo2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 13em;
    z-index: 5;
  }


}

@media screen and (max-width: 240px) and (min-width: 100px) {
  .fondo_video1 {
    position: relative;
    bottom: 9em;
  }

  .logo2 {
    width: 6em;
    height: 6;
  }

  .div-logo2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 11em;
    z-index: 5;
  }


}